<template>
    <div>
        <header id="header">
            <div class="container d-flex">
                <div class="logo mr-auto">
                    <h1 class="text-light">
                        <a href="#" @click.prevent="" class="navbar-brand">Flattern</a>
                    </h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
                </div>

                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        <li>
                            <router-link class="nav-link" to="{ name:'about'}">Tentang Kami</router-link>
                        </li>
                        <li>
                            <router-link class="nav-link" to="{ name:'artikel'}">Artikel</router-link>
                        </li>
                        
                    </ul>
                </nav>
                <!-- .nav-menu -->
            </div>
        </header>

        <div class="container">
            <router-view></router-view>
        </div>
    </div>
</template>
